.hire-me {
  padding: 5rem 2rem;
  background: #020617;
  color: #fff;
}

.container {
  max-width: 700px;
  margin: auto;
  text-align: center;
  height: 100vh;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
  color: #38bdf8;
}

p {
  color: #cbd5e1;
  margin-bottom: 2.5rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  padding: 0.9rem 1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 1rem;
  background: #0f172a;
  color: #fff;
}

input::placeholder,
textarea::placeholder {
  color: #94a3b8;
}

button {
  background: #38bdf8;
  color: #000;
  border: none;
  padding: 0.9rem;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #0ea5e9;
}
