<section class="home">
  <div class="container">

    <!-- Left Content -->
    <div class="text-section">
      <h3>Hello, I'm</h3>
      <h1>{{ name }}</h1>

      <h2 class="typing">
        Web Developer | React Developer .
      </h2>

      <p>
        I am a passionate web developer specializing in React js.
        I build clean, scalable, and high-performance web applications
        with modern UI/UX.
      </p>

      <div class="buttons">
        <a routerLink="/projects" class="btn primary">My Projects</a>
        <a routerLink="/hire-me" class="btn secondary">Hire Me</a>
      </div>
    </div>

    <!-- Right Image -->
    <div class="image-section">
      <img src="/images/moin.jpg" alt="Profile Image" />
    </div>

  </div>
</section>
